In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

In [4]:
release_dates = pd.DataFrame.from_csv('data/release_dates.csv', index_col=None,
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                title  year      country       date
0               0_1_0  2008       Poland 2008-11-14
1         Ai no Sanka  1967        Japan 1967-01-01
2   A Thousand to One  1920          USA 1920-12-07
3  A Prince of a King  1923          USA 1923-10-13
4  A Prince of a King  1923  Netherlands 1924-08-08

### Make a bar plot of the months in which movies with "Christmas" in their title tend to be released in the USA.

### Make a bar plot of the months in which movies whose titles start with "The Hobbit" are released in the USA.

### Make a bar plot of the day of the week on which movies with "Romance" in their title tend to be released in the USA.

### Make a bar plot of the day of the week on which movies with "Action" in their title tend to be released in the USA.

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with Judi Dench tend to be released in the USA?

### In which months do films with Tom Cruise tend to be released in the USA?